@model MvcApplication1.Models.QueueModel

@{
    ViewBag.Title = "QueueOverview";
    //Layout = _Layout.cshtml;
    List<MvcApplication1.get_Queue_Details_Result> result = MvcApplication1.Controllers.QueueController.GetQueueDetails(ViewBag.Queue, ViewBag.Location);
}

<h2>@ViewBag.Queue</h2>
<div class="row">
    <div class="col-mid-3" style="overflow:hidden; position:relative">
        <table class="table table-hover">
            <thead>
                <tr><th>Name</th><th>Reason</th><td></td></tr>
            </thead>
            <tbody>
                @for (int i = 0; i < result.Count; i++)
                {
                    @*onclick="goToPersonDetail('@result[i].PersonID')"*@
                <tr id="@result[i].PersonID">
                    <td>@result[i].Name</td>
                    <td>@result[i].Reason</td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="goToPersonDetail('@result[i].PersonID')">View</button>
                        <button type="button" class="btn btn-danger" onclick="removePerson('@result[i].PersonID')">Remove</button>

                    </td>
                </tr>
                }

                </tbody>
            </table>
        </div>
    </div>